.file-item {
  flex: none;
  width: 64px;
  margin: 0 12px 12px;
  cursor: pointer;
}

.file-item .name {
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: block;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  line-height: 14px;
  height: 28px;
  color: #000;
  word-break: break-all;
}
