html,
body {
  margin: 0;
  padding: 0;
}

* {
  line-height: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container-wrap {
  height: 100vh;
  .main-container {
    flex: auto;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ddd;
  }
}

.iconfont {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
