.list {
  display: flex;
  flex-wrap: wrap;
}
.button-disabled-status[disabled] {
  background-color: #d9d9d9;
}
.flex-wrap {
  height: 100%;
  overflow: hidden;
}
.file-uploader {
  .ant-upload {
    width: 100%;
  }
}
